
      body,
      input,
      textarea,
      select,
      button {
        font-family: "Twemoji Country Flags", sans-serif !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Anton !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Anton !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Anton !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Bebas Neue" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Bebas Neue" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Anton Placeholder" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Bebas Neue Placeholder" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Placeholder" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", "Inter Tight Placeholder" !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      undefined {
        font-family: "Twemoji Country Flags", Inter !important;
      }
      [data-framer-component-type="Text"] div div span,
      [data-framer-component-type="Text"] a div span,
      [data-framer-component-type="Text"] span span span,
      [data-framer-component-type="Text"] p span span,
      [data-framer-component-type="Text"] h1 span span,
      [data-framer-component-type="Text"] h2 span span,
      [data-framer-component-type="Text"] h3 span span,
      [data-framer-component-type="Text"] h4 span span,
      [data-framer-component-type="Text"] h5 span span,
      [data-framer-component-type="Text"] h6 span span,
      [data-framer-component-type="Text"] a {
        font-family: "Twemoji Country Flags", var(--font-family) !important;
      }
      p.framer-text,
      div.framer-text,
      h1.framer-text,
      h2.framer-text,
      h3.framer-text,
      h4.framer-text,
      h5.framer-text,
      h6.framer-text,
      li.framer-text,
      ol.framer-text,
      ul.framer-text,
      span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family, Inter, Inter Placeholder, sans-serif) !important;
      }
      strong.framer-text {
        font-family: "Twemoji Country Flags", var(--framer-font-family-bold) !important;
      }
      em.framer-text {
        font-family: "Twemoji Country Flags", var(--framer-font-family-italic) !important;
      }
      em.framer-text > strong.framer-text {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family-bold-italic) !important;
      }
      code.framer-text,
      code.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text,
      a.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      code.framer-text a.framer-text,
      code.framer-text a.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text:hover,
      a.framer-text:hover span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      code.framer-text a.framer-text:hover,
      code.framer-text
        a.framer-text:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text[data-framer-page-link-current],
      a.framer-text[data-framer-page-link-current]
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-current-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      code.framer-text a.framer-text[data-framer-page-link-current],
      code.framer-text
        a.framer-text[data-framer-page-link-current]
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text[data-framer-page-link-current]:hover,
      a.framer-text[data-framer-page-link-current]:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-current-font-family,
              var(
                --framer-link-font-family,
                var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
              )
            )
          ) !important;
      }
      code.framer-text a.framer-text[data-framer-page-link-current]:hover,
      code.framer-text
        a.framer-text[data-framer-page-link-current]:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] p,
      [data-framer-component-type="DeprecatedRichText"] div,
      [data-framer-component-type="DeprecatedRichText"] h1,
      [data-framer-component-type="DeprecatedRichText"] h2,
      [data-framer-component-type="DeprecatedRichText"] h3,
      [data-framer-component-type="DeprecatedRichText"] h4,
      [data-framer-component-type="DeprecatedRichText"] h5,
      [data-framer-component-type="DeprecatedRichText"] h6,
      [data-framer-component-type="DeprecatedRichText"] li,
      [data-framer-component-type="DeprecatedRichText"] ol,
      [data-framer-component-type="DeprecatedRichText"] ul,
      [data-framer-component-type="DeprecatedRichText"]
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family, Inter, Inter Placeholder, sans-serif) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] a,
      [data-framer-component-type="DeprecatedRichText"]
        a
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] a:hover,
      [data-framer-component-type="DeprecatedRichText"]
        a:hover
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      a[data-framer-page-link-current],
      a[data-framer-page-link-current] span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-current-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      a[data-framer-page-link-current]:hover,
      a[data-framer-page-link-current]:hover span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-current-font-family,
              var(
                --framer-link-font-family,
                var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
              )
            )
          ) !important;
      }
      [data-framer-component-type="Text"] div div span,
      [data-framer-component-type="Text"] a div span,
      [data-framer-component-type="Text"] span span span,
      [data-framer-component-type="Text"] p span span,
      [data-framer-component-type="Text"] h1 span span,
      [data-framer-component-type="Text"] h2 span span,
      [data-framer-component-type="Text"] h3 span span,
      [data-framer-component-type="Text"] h4 span span,
      [data-framer-component-type="Text"] h5 span span,
      [data-framer-component-type="Text"] h6 span span,
      [data-framer-component-type="Text"] a {
        font-family: "Twemoji Country Flags", var(--font-family) !important;
      }
      p.framer-text,
      div.framer-text,
      h1.framer-text,
      h2.framer-text,
      h3.framer-text,
      h4.framer-text,
      h5.framer-text,
      h6.framer-text,
      li.framer-text,
      ol.framer-text,
      ul.framer-text,
      span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family, Inter, Inter Placeholder, sans-serif) !important;
      }
      strong.framer-text {
        font-family: "Twemoji Country Flags", var(--framer-font-family-bold) !important;
      }
      em.framer-text {
        font-family: "Twemoji Country Flags", var(--framer-font-family-italic) !important;
      }
      em.framer-text > strong.framer-text {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family-bold-italic) !important;
      }
      code.framer-text,
      code.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text,
      a.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      code.framer-text a.framer-text,
      code.framer-text a.framer-text span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text:hover,
      a.framer-text:hover span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      code.framer-text a.framer-text:hover,
      code.framer-text
        a.framer-text:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text[data-framer-page-link-current],
      a.framer-text[data-framer-page-link-current]
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-current-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      code.framer-text a.framer-text[data-framer-page-link-current],
      code.framer-text
        a.framer-text[data-framer-page-link-current]
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      a.framer-text[data-framer-page-link-current]:hover,
      a.framer-text[data-framer-page-link-current]:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-current-font-family,
              var(
                --framer-link-font-family,
                var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
              )
            )
          ) !important;
      }
      code.framer-text a.framer-text[data-framer-page-link-current]:hover,
      code.framer-text
        a.framer-text[data-framer-page-link-current]:hover
        span.framer-text:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-code-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] p,
      [data-framer-component-type="DeprecatedRichText"] div,
      [data-framer-component-type="DeprecatedRichText"] h1,
      [data-framer-component-type="DeprecatedRichText"] h2,
      [data-framer-component-type="DeprecatedRichText"] h3,
      [data-framer-component-type="DeprecatedRichText"] h4,
      [data-framer-component-type="DeprecatedRichText"] h5,
      [data-framer-component-type="DeprecatedRichText"] h6,
      [data-framer-component-type="DeprecatedRichText"] li,
      [data-framer-component-type="DeprecatedRichText"] ol,
      [data-framer-component-type="DeprecatedRichText"] ul,
      [data-framer-component-type="DeprecatedRichText"]
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(--framer-font-family, Inter, Inter Placeholder, sans-serif) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] a,
      [data-framer-component-type="DeprecatedRichText"]
        a
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-font-family,
            var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
          ) !important;
      }
      [data-framer-component-type="DeprecatedRichText"] a:hover,
      [data-framer-component-type="DeprecatedRichText"]
        a:hover
        span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      a[data-framer-page-link-current],
      a[data-framer-page-link-current] span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-current-font-family,
            var(
              --framer-link-font-family,
              var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
            )
          ) !important;
      }
      a[data-framer-page-link-current]:hover,
      a[data-framer-page-link-current]:hover span:not([data-text-fill]) {
        font-family: "Twemoji Country Flags",
          var(
            --framer-link-hover-font-family,
            var(
              --framer-link-current-font-family,
              var(
                --framer-link-font-family,
                var(--framer-font-family, Inter, Inter Placeholder, sans-serif)
              )
            )
          ) !important;
      }